.form-icons span i{
    font-size: 50px;
    
  
}
.form-icons{
    position: relative;
    top: -42px;
}

.form-check label{
    font-size: 14px;
}
div.header {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #626d77;
}
div.header h6{margin-top: 6px;}
#login-form{
    background-color:#7e8b96 ;
}
#login-form input.form-control {
    font-size: 12px;
}
.form-footer {font-size: 12px;
    border-radius:0 0 5px 5px ;
    border-top: 1px solid #626d77;}
.login-btn{
    width: 70px;
    padding: 4px;
    margin-bottom: 15px;
   
  
}