.search-box .search-input[type=text] {
    /* background:#edebeb; */
    border: none;
    border-radius: 10px;
    min-height: 50px;
    min-width: 300px;
    outline: none!important;
    box-shadow: none!important;
    padding-right: 48px;
    font-size: 14px;
}
ul.login-menu {
    visibility: visible!important;
    color:white;
    font-size: 12px;
    }

span.user-login-text{
    font-size: 10px;
}
nav.header-menu{
    border-top: 1px solid #f3f3f3;
    box-shadow: 0 7px 8px 0 rgb(0 0 0 / 5%);
}
nav.header-menu ul li{
    list-style:none;
    margin: 10px;
}
nav.header-menu ul li a{
    font-size: 14px;
    display:flex;
    align-items: center;
}
nav.header-menu ul li span.header-menu-text{
    font-size: 10px;
    padding-right: 8px;
}
span.basket-badg{
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    top: 45px;
    left: 128px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.header-wrapper{
    z-index: 100;
}